########################################
# Application
########################################

PORT=3000
NODE_ENV=development

APP_URL=http://localhost:5173
API_URL=http://localhost:3000
FRONT_ORIGIN=http://localhost:5173

########################################
# Database (MySQL)
########################################

DB_HOST=localhost

# Mac (MAMP)
# DB_PORT=8889
# DB_USER=root
# DB_PASSWORD=root

# Windows (Laragon / XAMPP)
DB_PORT=3306
DB_USER=root
DB_PASSWORD=

DB_NAME=

########################################
# Authentication & Security
########################################

JWT_SECRET=
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10

########################################
# YouTube OAuth
########################################

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=
YOUTUBE_REFRESH_TOKEN=

########################################
# Mail (SMTP)
########################################

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

########################################
# reCAPTCHA
########################################

RECAPTCHA_SECRET_KEY=

########################################
# Scaleway S3 Storage (BACK ONLY)
########################################

SCALEWAY_ACCESS_KEY=
SCALEWAY_SECRET_KEY=
SCALEWAY_ENDPOINT=https://s3.fr-par.scw.cloud
SCALEWAY_BUCKET_NAME=
SCALEWAY_REGION=fr-par
SCALEWAY_FOLDER=